html, body, .container, .row {
    height: 100% !important;
}

body {
    background: url('kettcar.gif') no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Novecento', sans-serif;
}

.card {
    border-radius: 500px 0 0 500px;
    background: #263238;
    height: 160px;
    width: 320px;
    box-shadow: -10px 10px 10px -10px rgba(119, 119, 119, 1);
    margin-top: 20%;
}

.links{
    padding-right: 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 39px;
}

li,
li a {
    display: block;
    height: 40px;
    width: 100%;
}

i {
    font-size: 1.6em !important;
    display: block;
    height: 40px;
    width:100%;
    line-height: 40px !important;
    text-align: center !important;
}

li:nth-child(1) {
    background: #777777;
}

li:nth-child(2) {
    background: #0092db;
}

li:nth-child(3) {
    background: #7C7C7C;
}

li:nth-child(4) {
    background: #929292;
}

li:hover {
    background: transparent;
}

i {
    color: #fff;
}

img {
    opacity: 0.5;
    margin-top: 50px;
    margin-left: 14px;
}

.content {
    text-transform: uppercase;
    color: #fff;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 40px;
}

h2 {
    font-size: 14px;
    color: #fff;
    margin-top: 0;
    opacity: 0.5;
    text-align: right;
}
